<!DOCTYPE html>
<html>
	<head>
	  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
	  <link rel="stylesheet" href="../estilo.css">

	</head>
	<body ng-app="myApp">
		<h1>Deletar disciplina: </h1>
		<nav id="menu">
			<ul>
				<li><a href="addDisciplina.html">Voltar</a></li>
				<li><a href="../SistemaAcademico.html">Home</a></li>
			</ul><br/>
		</nav>
		<div ng-controller="myController">
            <form>
			    <input type="submit" value="Deletar pessoa" ng-click="getdisciplina()" />
                <br/><br/>
                Response Data: {{dados}}<br /> <br />
                Error: {{error}}
			<br />				
			<br />
        </form>
		</div>
		<script>

		    var myApp = angular.module('myApp', []);
	   	
			myApp.controller("myController", function ($scope, $http) {
				var onSuccess = function successCallback(response) {$scope.dados = response.data;}

				var onError = function errorCallback(response) {$scope.error = response;}
			
			    var getReq = {
						method  : 'DELETE',
						url     : 'http://localhost:8080/disciplina/64'
					};
							
				$scope.getdisciplina = function () {
					$http(getReq).then(onSuccess, onError);
				};

			});
		</script>

	</body>
</html>
