<!DOCTYPE html>
<html>
	<head>
	  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
	  <link rel="stylesheet" href="../estilo.css">

	</head>
	<body ng-app="myApp">
		<h1>Cadastro de pessoas: </h1>
		<div ng-controller="myController">
			<nav id="menu">
				<ul>
					<li><a href="cadastrarpessoa.html">Cadastrar pessoa</a></li>
					<li><a href="consultarpessoa.html">Consultar pessoas</a></li>
					<li><a href="deletarpessoa.html">Deletar pessoa</a></li>
					<li><a href="matricular.html">Modificar pessoa</a></li>
					<li><a href="../SistemaAcademico.html">Home</a></li>
				</ul>
			</nav>
			<br/><br/>
		</div>
		<script>
		    var myApp = angular.module('myApp', []);
	   	
			myApp.controller("myController", function ($scope, $http) {
				var onSuccess = function successCallback(response) {$scope.dados = response.data;}

				var onError = function errorCallback(response) {$scope.error = response;}
			
				var postReq = {
						method: 'POST',
						url   : 'http://localhost:8080/pessoa',
						data  :	{
									idPessoa: "",
									pessoaNome: "André Paulo Silva",
									cpf: "1255112255",
									pessoaTipo: "ALUNOBOLSISTA",
									pessoaSexo: "MASCULINO"

								}   
					};
			
				$scope.postPessoas = function () {
					$http(postReq).then(onSuccess, onError);
				};

			});
		</script>

	</body>
</html>
