<!DOCTYPE html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<html>
	<head>
	  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
	  <link rel="stylesheet" href="estilo.css">

	</head>
	<body ng-app="myApp">
		<h1>Portal Acadêmico.: </h1>
		<nav id="menu">
			<ul>
				<li><a href="pessoa/cadastro.html">Cadastro de pessoa</a></li>
				<li><a href="addAluno/addAluno.html">Cadastrar aluno</a></li>
				<li><a href="addTurma/addTurma.html">Adicionar turma</a></li>
				<li><a href="addDisciplina/addDisciplina.html">Adicionar disciplina</a></li>
				<li><a href="matricular/matricularAluno.html">Matricular aluno</a></li>
			</ul>
		</nav>
		<!--<div ng-controller="myController"> 
			
			<input type="button" value="Pegar dados" ng-click="getStudent()" />
			<br />				
			<br />
			Response Data: {{data}} <br /> <br />
					Error: {{error}}
		</div>-->
		<script>
		    var myApp = angular.module('myApp', []);
	   	
			myApp.controller("myController", function ($scope, $http) {
				var onSuccess = function successCallback(response) {$scope.data = response.data;}

				var onError = function errorCallback(response) {$scope.error = response;}
			
			    var getReq = {
						method  : 'GET',
						url     : 'http://localhost:8080/pessoa'
					};
							
				$scope.getStudent = function () {
					$http(getReq).then(onSuccess, onError);
				};

			});
		</script>

	</body>
</html>
